<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <connectionStrings>
    <add name="mainContext" connectionString="data source=&quot;|DataDirectory|smartgateway.db&quot;"
         providerName="System.Data.SQLite" />
  </connectionStrings>
    
  

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceProviderContract" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1688/messagingtoolkit"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceProviderContract"
        contract="CommandService.IServiceProviderContract" name="NetTcpBinding_IServiceProviderContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>