<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mainContext" connectionString="data source=C:\MySpace\2009\messagingToolkit\messagingtoolkit\MessagingToolkit.Demos\MessagingToolkit.Service.Host\smartgateway.db"
      providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>