<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MessagingToolkit.Service.Web.Host.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <MessagingToolkit.Service.Web.Host.Properties.Settings>
            <setting name="HostingURL" serializeAs="String">
                <value>http://localhost:1689/messagingtoolkit</value>
            </setting>
        </MessagingToolkit.Service.Web.Host.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceProviderContract" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1688/messagingtoolkit"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceProviderContract"
                contract="CommandService.IServiceProviderContract" name="NetTcpBinding_IServiceProviderContract">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>